/* Authors: Paige Brinks (plb7), Lydia Cupery (lac26)
 * Date: December 19, 2016
 * 
 * stylesheet for WICsite
 * style.sty compiles into CSS
 */
/* color variables */
/* end color variables */
/* menu */
.nav {
  width: 20%;
/* margin: auto */
  position: fixed;
  top: 0px;
  left: 80%;
  height: 100%;
}
.nav ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; /* 80% might give a cool look */
  height: 100%;
}
.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 25%;
  border-bottom: 1px solid #888;
  display: flex;
}
.nav a {
  width: 100%; /* Or whatever */
  text-align: center;
  margin: auto /* ;  Magic! */;
  text-decoration: none;
  color: #fff;
  display: block;
  transition: 0.3s background-color;
}
.nav li:hover {
  background-color: #005f5f;
}
.nav li.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}
/* end menu */
/* for footer */
html {
  height: 100%;
}
/* end formatting for footer */
body {
  background: #f0f8ff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 1.7;
  margin: 0;
  position: relative;
  min-height: 90%;
  width: 100%;
  padding-bottom: 60px;
}
footer {
  background-color: #270c40;
  height: 50px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: #f0f8ff;
  text-align: center;
}
/* format rest of content 80% to leave room for nav bar */
h1,
.blogContent,
.blogMenu {
  width: 80%;
}
/* format menu button for choosing blog */
.blogMenu {
  text-align: center;
  text-decoration: none;
}
.blogMenu li {
  display: inline;
  padding: 0 30px;
}
.blogMenu a {
  text-decoration: none;
  color: #551a8b;
}
.blogMenu a:hover {
  color: #270c40;
}
